@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.paginationBlock {
  @include flex(row, center, center, nowrap);
  gap: 10px;
  .btn {
    height: 20px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
  }

  .btnNumber {
    align-self: baseline;
  }

  .activeBtn {
    border-radius: 2px;
    width: 20px;
    background-color: $secondary;
  }
}
