@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.contacts {
  margin-bottom: 40px;

  &__title {
    @extend %titleBookingBlock;
  }

  &__block {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    & input {
      width: 100%;
      outline: none;

      &:focus {
        border-color: $text-primary;
        box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
        color: $text-primary;
      }

      &:not(:placeholder-shown) {
        border-color: $primary;
        box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
        color: $text-primary;
      }
    }
  }
}
