@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.datePickerDiv {
  position: relative;
}

.customDatePickDiv {
  width: 288px;
  // width: 100%;
  padding: 25px 20px;
  background-color: $text-white;
  border: solid 1px $text-secondary;
  border-radius: $radius-secondary;
  @include flex(row, space-between, center, nowrap);

  .image {
    cursor: pointer;
  }
}

.customDatePickDiv-selected {
  border-color: $primary;
  box-shadow: $shadow-1;
}

.customInput:focus {
  outline: none;
}

.customInput {
  border: none;
  box-shadow: none !important;
  @include typography(500, 14px, 17.07px, $text-primary);
}

:global(.react-datepicker-popper) {
  background-color: $text-white;
  margin-bottom: 20px;
  z-index: 10;
}

:global(.react-datepicker__header) {
  background-color: $text-white;
  margin-bottom: 20px;
  // padding-top: 10px;
}

:global(.react-datepicker__header__dropdown) {
  margin-bottom: 10px;
}

:global(.react-datepicker__year-select),
:global(.react-datepicker__month-select) {
  border: 1px solid $text-secondary;
  border-radius: 6px;
  padding: 8px 6px 8px 10px;
  height: 41px;
}

:global(.react-datepicker__year-select) {
  width: 75px;
}

:global(.react-datepicker__month-select) {
  width: 103px;
}

:global(.react-datepicker__month-container) {
  padding: 10px;
  float: none;
}

:global(.react-datepicker) {
  // width: 356px;
  min-height: 395px;
  border-radius: $radius-primary;
  box-shadow: $shadow-1;
}

:global(.react-datepicker__day--weekend) {
  color: red;
}

:global(.react-datepicker__day--weekend):global(
    .react-datepicker__day--disabled
  ) {
  opacity: 50%;
}

:global(.react-datepicker__day-name:last-child),
:global(.react-datepicker__day-name:nth-last-child(2)) {
  color: red;
}

:global(.react-datepicker__navigation) {
  top: 25px;
}

:global(.react-datepicker__navigation-icon::before) {
  top: 0px;
}

:global(.react-datepicker__day) {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  width: 2.7rem;
}

:global(.react-datepicker__current-month) {
  @include typography(600, 20px, 32px, rgba(10, 10, 10, 1));
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

:global(.react-datepicker__day-name) {
  @include typography(600, 18px, 24px, rgba(10, 10, 10, 1));
  font-family: 'Inter', sans-serif;
  width: 2.7rem;
}
