@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins.scss";

.main {
    width: 100%;
    padding-bottom: 80px;
}

.houseBlock-right {
            width: 100%;
            height: 100%;
            padding-bottom: 15px;
             @include flex(column, center, flex-start, nowrap);

            .description {
                @include typography(400, 20px, 25px, $text-primary);
                margin-bottom: 20px;
            }

            .places {
                width: 100%;
                @include flex(row, space-between, flex-start, nowrap);
                margin-bottom: 40px;

                .rooms {
                    @include flex(row, space-between, flex-start, nowrap);

                }

                .beds {
                    @include flex(row, space-between, flex-start, nowrap);

                }

                .rooms p:first-child, .beds p:first-child {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-right: 20px;
                }

                .rooms > p, .beds > p  {
                    @include typography(400, 18px, 24px, $text-primary);
                }
            }

            .featuresBlock {
                margin-bottom: 60px;

                .featuresTitle {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-bottom: 20px;
                }

                .features {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .featuresItem {
                    @include flex(row, flex-start, center, nowrap);

                    img {
                        margin-right: 20px;
                    }
                }
            }
            }
            
            .pricesBlock {

                .pricesBlockTitle {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-bottom: 20px;
                }

                .prices {
                    @include flex(row, flex-start, center, nowrap);

                    span {
                        @include typography(700, 24px, 34px, $text-primary);
                    }
                }

                .prices p:first-child {
                    margin-right: 20px;
                }
            }
            .btnsBlock {
                @include flex(row, flex-start, center, nowrap);

                button {
                    @include typography(500, 16px, 19.36px,  $text-white);
                    font-family: "Inter", sans-serif;
                    padding: 16px 26px;
                }

                // .btnBook {
                //     background-color: $color-8;
                //     margin-right: 20px;
                // }

                .btnDetails {
                    padding: 16px 50px;
                    color: $text-primary;
                    box-shadow: $shadow-2;
                    border: none;
                    background-color: $text-white;
                }

                .btnDetails:hover {
                    color: $text-white;
                    background-color: $primary;
                    transition: all 0.5s ease 0s;
                }

            }
        }