@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.main {
  // flex: 1 1 0 auto;
  width: 100%;
  padding-bottom: 80px;
  padding-top: 80px;

  @include media-query(lg) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media (max-width: 1251px) {
    padding-top: 170px;
  }

  @include media-query(md) {
    padding-top: 120px;
  }

  @media (max-width: 571px) {
    padding-top: 380px;
    padding-bottom: 40px;
  }

  @media (max-width: 420px) {
    padding-top: 430px;
  }

  @include media-query(sm) {
    padding-top: 390px;
    padding-bottom: 30px;
  }
}

.infoText {
  @extend %infoText;
  margin-bottom: 0px;
}

.btnsBlock {
  @include flex(row, flex-start, center, nowrap);

  @include media-query(sm) {
    width: 100%;
  }

  button {
    @include typography(500, 16px, 19.36px, $text-white);
    font-family: 'Inter', sans-serif;
    padding: 16px 26px;
  }

  .btnDetails {
    padding: 16px 50px;
    color: $text-primary;
    box-shadow: $shadow-2;
    border: none;
    background-color: $text-white;

    @include media-query(sm) {
      font-weight: 600;
      width: 100%;
      padding: 10px 0px;
    }
  }

  .btnDetails:hover {
    color: $text-white;
    background-color: $primary;
    transition: all 0.5s ease 0s;
  }
}

.loader {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1251px) {
    height: 250px;
    margin-top: 50px;
  }
  @media (max-width: 571px) {
    height: 450px;
    margin-top: 0px;
    padding-bottom: 40px;
    align-items: flex-end;
  }
}

.error {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1251px) {
    height: 250px;
    margin-top: 50px;
    text-align: center;
  }
  @media (max-width: 571px) {
    height: 450px;
    margin-top: 0px;
    padding: 40px 20px 20px;
    align-items: flex-end;
  }
}

// .errorText {
//   width: '100vw';
//   margin-bottom: '120px';
//   @include typography(600, 20px, 24.38px, $text-primary);
//   margin: 0 auto;
// }
