@import "../../../../common/styles/sass/variables.scss";
@import "../../../../common/styles/sass/mixins.scss";

.age__select {
    @include flex(row, space-between, center, nowrap);
    border-radius: $radius-secondary;
    border: 0.5px solid $primary;
    height: 38px;

    &-title {

    }
}

.age__label {
    margin-left: 10px;
}

.select {
    max-width: 110px;
    width: 100%;
}

.select span {
    display: none;
}

