@import '../styles/sass/mixins.scss';

.container {
  width: 75%;
  margin: 0 auto;

  @include media-query(lg) {
    width: 83%;
  }

  @include media-query(md) {
    width: 90%;
  }

  @include media-query(sm) {
    width: 95%;
  }
}
