@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.customDropDown {
  width: 100%;
  position: relative;
  height: 66.66px;
  padding: 0px 20px 0px;
  background-color: $text-white;
  border: solid 1px $text-secondary;
  border-radius: $radius-secondary;
  cursor: pointer;

  @include media-query(md) {
    height: 52.66px;
  }

  @include media-query(sm) {
    height: 42.66px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }

  &--selected {
    border-color: $primary;
    box-shadow: $shadow-1;
  }

  .customDropDown__item {
    @include flex(row, space-between, center, nowrap);
    height: 100%;

    &-input {
      width: 100%;
      border: none;
      @include typography(500, 14px, 17.07px, $text-primary);
      cursor: pointer;
    }

    &-input:focus {
      outline: none;
    }

    &-image {
      cursor: pointer;
    }
  }

  &__btn {
    max-width: 122px;
    width: 100%;
    padding: 16px 26px;
    background-color: $primary;
    align-self: flex-end;

    @media (max-width: 570px) {
      padding: 12px 22px;
    }

    &:not(&-disabled):hover {
      background-color: $color-8;
      transition: all 0.5s ease 0s;
    }
  }

  &__btn-disabled {
    background-color: $text-secondary;
    border: none;
    cursor: default;
  }
}

.guestsSelectBlock {
  width: 356px;
  padding: 10px 14px;
  border-radius: $radius-primary;
  border: 0.5px solid $text-secondary;
  box-shadow: $shadow-1;
  background-color: $text-white;
  position: absolute;
  // left: -34px;
  left: 0;
  top: 75px;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @media (max-width: 465px) {
    max-width: 356px;
    width: 100%;
  }

  // @media (max-width: 390px) {
  //   width: 280px;
  //   right: 0;
  //   left: 0;
  // }

  // @include media-query(sm) {
  //   top: 50px;
  // }
}
