@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.booking {
  width: 100%;
  height: auto;

  &__comment {
    margin-bottom: 40px;
  }

  &__comment-title {
    @extend %titleBookingBlock;
  }

  &__comment-label {
    @include typography(400, 16px, 19.5px, $text-secondary);
  }

  &__comment-text {
    width: 100%;
    min-height: 67px;
    border: 1px solid $text-secondary;
    border-radius: $radius-secondary;
    padding: 21px 20px;
    margin-top: 10px;
    outline: none;
    overflow: hidden;
    resize: none;
    @include typography(500, 14px, 17.07px, $text-primary);

    &:focus {
      border-color: $text-primary !important;
      box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
    }

    &:not(:placeholder-shown) {
      border-color: $primary;
      box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
    }

    &--error {
      border-color: $error !important;
    }

    &--error:focus {
      border-color: $error !important;
    }
  }

  &__comment-text::placeholder {
    @include typography(500, 14px, 17.07px, $text-secondary);
  }

  &__btn {
    @include typography(500, 14px, 17.07px, $text-white);
    background-color: $primary;
    padding: 10px 20px;
  }
}

.commentError {
  @extend %error;
}
