@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.booking {
  width: 100%;
  height: auto;
  background-color: $secondary;
  padding: 60px 114px;

  &__comment-title {
    @extend %titleBookingBlock;
  }

  // &__comment-title::before {
  //   @extend %titleBookingLine;
  // }

  &__comment-text {
    width: 100%;
    height: 90px;
  }

  &__comment-text::placeholder {
  }
}
