@import "../../common//styles/sass/variables.scss";

.logoBlock {
    // height: 134px;

    .logoTitle {
        font-family: "Moon Dance";
        font-weight: 400;
        // font-size: 100px;
        font-size: calc(36px + (100 - 36) * ((100vw - 391px) / (1920 - 391)));
        line-height: normal;
        color: $text-white;
        text-align: center;
    }
}