@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins.scss";

.houseBlock {
    width: 100%;
    height: 96.8%;
    @include flex(row, space-between, flex-start, nowrap);
        gap: 30px;

    .houseBlockLeft {
        width: 100%;
        max-width: 735px;
        height: 100%;

        .imageBlock {
                width: 100%;
                height: 750px;
                
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & :global(.slick-dots li button:before) {
                        font-size: 12px;
                    }

            // & :global(.slick-slider) {
            
                

                // & :global(.slick-slider) {
                    
                    & :global(.slick-list) {
                        margin: 0 -20px;
                        // & :global(.slick-track) {

                            & :global(.slick-slide) {
                                padding: 0 20px;
                            }
                        // }
                    }


                // }
            // }
        }


    .houseBlockRight {
        width: 100%;
        max-width: 735px;
        height: 100%;
        @include flex(column, space-between, flex-start, nowrap);
        padding-bottom: 15px;

        .houseBlockTitle {
            @include h3;
        }

        .houseBlockDescription {

            .title {
                @include typography(700, 20px, 26px, $text-primary);
                    margin-bottom: 20px;
            }

            .description {
                @include typography(400, 20px, 28px, $text-primary);
            }
        }

        .places {
                width: 100%;
                @include flex(row, space-between, flex-start, nowrap);

                .rooms {
                    @include flex(row, space-between, flex-start, nowrap);

                }

                .beds {
                    @include flex(row, space-between, flex-start, nowrap);

                }

                .rooms p:first-child, .beds p:first-child {
                    @include typography(700, 18px, 25px, $text-primary);
                }

                .rooms > p, .beds > p  {
                    @include typography(400, 18px, 24px, $text-primary);
                }
            }

            .featuresBlock {

                .title {
                    @include typography(700, 20px, 26px, $text-primary);
                    margin-bottom: 20px;   
                }

                .features {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .featuresBlock {
                    @include flex(row, flex-start, center, nowrap);

                    img {
                        margin-right: 20px;
                    }
                }
            }
            }
            .pricesBlock {

                .pricesBlockTitle {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-bottom: 20px;
                }

                .prices {
                    @include flex(row, flex-start, center, nowrap);

                    span {
                        @include typography(700, 24px, 34px, $text-primary);
                    }
                }

                .prices p:first-child {
                    margin-right: 20px;
                }
            }

    }
}