@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.houseBlock {
  width: 100%;
  @include flex(row, space-between, flex-start, nowrap);
  gap: 40px;

  @include media-query(md) {
    height: auto;
    @include flex(column, flex-start, flex-start, nowrap);
    gap: 36px;
  }

  @media (max-width: 320px) {
    gap: 16px;
  }

  .houseBlockLeft {
    width: 49%;
    height: clamp(
      494px,
      calc(494px + (720 - 494) * ((100vw - 1670px) / (1920 - 1670))),
      720px
    );
    cursor: pointer;
    position: relative;

    @include media-query(lg) {
      width: 440px;
    }

    @media (max-width: 1100px) {
      width: 49%;
      height: auto;
      aspect-ratio: 1;
    }

    @include media-query(md) {
      margin: 0 auto;
      width: 288px;
      height: 240px;
    }

    @media (max-width: 400px) {
      width: 100%;
    }

    .imageBlock {
      width: 100%;
      height: clamp(
        494px,
        calc(494px + (720 - 494) * ((100vw - 1670px) / (1920 - 1670))),
        720px
      );

      @media (max-width: 1100px) {
        width: 49%;
        height: auto;
        aspect-ratio: 1;
      }

      @include media-query(md) {
        height: 240px;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & :global(.slick-dots li button:before) {
      font-size: 12px;

      @include media-query(md) {
        font-size: 9px;
      }
    }

    & :global(.slick-list) {
      margin: 0 -20px;

      @media (max-width: 400px) {
        margin: 0 -10px;
      }
    }

    & :global(.slick-slide) {
      padding: 0 20px;

      @media (max-width: 400px) {
        padding: 0 10px;
      }
    }
  }

  .houseBlockRight {
    width: 100%;
    max-width: 640px;
    height: 100%;
    @include flex(column, space-between, flex-start, nowrap);
    gap: 30px;

    @include media-query(sm) {
      gap: 0px;
    }

    .places {
      width: 100%;
      @include flex(row, space-between, center, nowrap);

      @media (max-width: 1250px) {
        @include flex(column, flex-start, flex-start, nowrap);
      }

      @include media-query(md) {
        @include flex(row, space-between, flex-start, nowrap);
      }

      @media (max-width: 450px) {
        @include flex(column, flex-start, flex-start, nowrap);
        gap: 8px;
      }

      @include media-query(sm) {
        margin-bottom: 16px;
      }

      .rooms {
        @include flex(row, space-between, flex-start, nowrap);

        @media (max-width: 1250px) {
          margin-bottom: 20px;
        }

        @include media-query(sm) {
          margin-bottom: 0px;
        }
      }

      .beds {
        @include flex(row, space-between, flex-start, nowrap);
      }

      .rooms p:first-child,
      .beds p:first-child {
        @include typography(700, 18px, 25px, $text-primary);
        margin-right: 20px;
        font-family: 'Commissioner', sans-serif;

        @include media-query(sm) {
          font-size: 16px;
        }
      }

      .rooms > p,
      .beds > p {
        @include typography(400, 18px, 24px, $text-primary);
        font-family: 'Commissioner', sans-serif;

        @include media-query(sm) {
          font-size: 16px;
        }
      }
    }

    .featuresBlock {
      @include media-query(sm) {
        margin-bottom: 30px;
      }
      .title {
        @include typography(700, 20px, 26px, $text-primary);
        font-family: 'Commissioner', sans-serif;
        margin-bottom: 20px;

        @include media-query(lg) {
          font-size: 18px;
        }

        @include media-query(sm) {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 12px;
        }
      }

      .features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 6.4%;

        @media (max-width: 1250px) {
          grid-template-columns: 1fr 1fr;
          row-gap: 15px;
          column-gap: 5px;
        }

        @include media-query(md) {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }

        @media (max-width: 555px) {
          grid-template-columns: 1fr 1fr;
          row-gap: 12px;
          column-gap: 12px;
        }

        .featuresItem {
          @include flex(row, flex-start, flex-start, nowrap);
          gap: 10px;

          @media (max-width: 555px) {
            gap: 5px;
          }

          &_title {
            @include typography(400, 18px, 24px, $text-primary);
            font-family: 'Commissioner', sans-serif;

            @include media-query(sm) {
              font-size: 14px;
            }
          }
        }
      }
    }
    .calendarBlock {
      display: flex;
      align-items: flex-start;

      @include media-query(sm) {
        margin-bottom: 30px;
      }

      .calendarBlockTitle {
        @include typography(700, 18px, 25px, $text-primary);
        margin-right: 20px;

        @include media-query(sm) {
          font-size: 16px;
        }
      }

      .calendarBlockImage {
        cursor: pointer;
        margin-right: 20px;
      }

      .datePickerDiv {
        border-radius: 16px;
        box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
        position: relative;
        // top: 30px;
        bottom: 320px;
        left: -35%;
        background-color: $text-white;
        z-index: 1;
      }

      .datePickerDiv :global(.react-datepicker) {
        position: absolute;
        left: -130px;
      }

      .datePickerDiv :global(.react-datepicker__month) {
        pointer-events: none;
      }

      .datePickerDiv :global(.react-datepicker__day--keyboard-selected) {
        background-color: transparent;
        // color: inherit;
      }

      .datePickerDiv :global(.react-datepicker__day--highlighted) {
        background-color: $primary;
      }
    }
    .priceBlock {
      .priceBlockTitle {
        @include typography(700, 18px, 25px, $text-primary);
        margin-bottom: 20px;

        @include media-query(sm) {
          font-size: 16px;
          margin-bottom: 12px;
        }
      }

      .price {
        @include flex(row, flex-start, center, nowrap);
        @include typography(700, 24px, 34px, $text-primary);

        @include media-query(sm) {
          font-size: 20px;
        }
        gap: 10px;

        &,
        span {
          @include typography(700, 24px, 34px, $text-primary);

          @include media-query(sm) {
            font-size: 20px;
          }
        }
      }

      .prices p:first-child {
        margin-right: 20px;
      }
    }
  }
}

.houseBlockTitle {
  @include h3;
  font-size: clamp(20px, 1.25vw + 13px, 30px);

  @media (max-width: 1671px) {
    margin-bottom: 20px;
  }

  @include media-query(sm) {
    line-height: 24.38px;
  }
}

.houseBlockDescription {
  @media (max-width: 1670px) {
    margin-bottom: 20px;
  }

  @include media-query(md) {
    margin-bottom: 0px;
  }

  @include media-query(sm) {
    margin-bottom: 12px;
  }

  .title {
    @include typography(700, 20px, 26px, $text-primary);
    margin-bottom: 20px;
    font-family: 'Commissioner', sans-serif;

    @include media-query(md) {
      display: none;
    }
  }

  .description {
    @include typography(400, 20px, 28px, $text-primary);

    @include media-query(lg) {
      font-size: 18px;
    }

    @include media-query(sm) {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

:global(.slick-dots) {
  @include media-query(sm) {
    position: relative;
    bottom: 35px;
  }
}

:global(.slick-dots li.slick-active button:before) {
  color: $color-6;
  opacity: 1;
  @include media-query(sm) {
    color: $text-white;
  }
}

:global(.slick-dots li button:before) {
  color: $color-6;
  opacity: 0.4;
  @include media-query(sm) {
    color: $text-white;
  }
}

:global(.slick-dots li) {
  margin: 0px;
}
