@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins.scss";

.houseBlock {
    width: 100%;
    // height: 96.8%;
    @include flex(row, space-between, flex-start, nowrap);
        gap: 40px;

    .houseBlockLeft {
        width: 100%;
        max-width: 640px;
        height: 700px;

        .imageBlock {
                width: 100%;
                height: 700px;
                
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & :global(.slick-dots li button:before) {
                        font-size: 12px;
                    }

            // & :global(.slick-slider) {
            
                

                // & :global(.slick-slider) {
                    
                    & :global(.slick-list) {
                        margin: 0 -20px;
                        // & :global(.slick-track) {

                            & :global(.slick-slide) {
                                padding: 0 20px;
                            }
                        // }
                    }


                // }
            // }
        }


    .houseBlockRight {
        width: 100%;
        max-width: 640px;
        height: 100%;
        @include flex(column, space-between, flex-start, nowrap);
        gap: 30px;
        padding-bottom: 15px;

        .houseBlockTitle {
            @include h3;
            // margin-bottom: 30px;
        }

        .houseBlockDescription {
            // margin-bottom: 30px;

            .title {
                @include typography(700, 20px, 26px, $text-primary);
                    margin-bottom: 20px;
            }

            .description {
                @include typography(400, 20px, 28px, $text-primary);
            }
        }

        .places {
                width: 100%;
                @include flex(row, space-between, center, nowrap);

                .rooms {
                    @include flex(row, space-between, center, nowrap);

                }

                .beds {
                    @include flex(row, space-between, center, nowrap);

                    .bedsBlock {
                        @include flex(row, space-between, center, nowrap);
                        margin-right: 18px;

                        & img {
                            margin-left: 4px;
                        }
                    }

                }

                .rooms p:first-child, .beds p:first-child {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-right: 20px;
                }

                .rooms > p, .beds > p  {
                    @include typography(400, 18px, 24px, $text-primary);
                }
            }

            .featuresBlock {

                .title {
                    @include typography(700, 20px, 26px, $text-primary);
                    margin-bottom: 20px;   
                }

                .features {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 20px;

                .featuresBlock {
                    @include flex(row, flex-start, center, nowrap);

                    img {
                        margin-right: 20px;
                    }
                }
            }
            }
            .calendarBlock {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;

                .calendarBlockTitle {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-right: 20px;
                }
                
                .calendarBlockImage {
                    cursor: pointer;
                    margin-right: 20px;
                }
            }
            // .pricesBlock {

            //     .pricesBlockTitle {
            //         @include typography(700, 18px, 25px, $text-primary);
            //         margin-bottom: 20px;
            //     }

            //     .prices {
            //         @include flex(row, flex-start, center, nowrap);

            //         span {
            //             @include typography(700, 24px, 34px, $text-primary);
            //             margin-left: 10px;
            //         }
            //     }

            //     .prices p:first-child {
            //         margin-right: 30px;
            //     }
            // }

    }
}