@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins.scss";

.datePickerDiv {
    width: 356px;
    height: 395px;
    border-radius: 16px;
    box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
    position: relative;
    top: 30px;
    left: -35%;
    background-color: $text-white;
}

.datePickerDiv :global(.react-datepicker__day--selected),
.datePickerDiv :global(.react-datepicker__day--keyboard-selected),
.datePickerDiv :global(.react-datepicker__day:hover) {
  background-color: transparent !important;
  color: inherit !important;
}