@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-8, 0.4);
  z-index: 1;
  transition: 0.5s;
  overflow-y: auto;

  @include flex(column, flex-start, center, nowrap);

  .modalContent {
    margin: 100px 0px;
    width: 75%;
    background-color: $secondary;
    border-radius: $radius-primary;
    position: relative;

    @include media-query(lg) {
      width: 83%;
      margin: 50px 0px;
    }

    @include media-query(md) {
      width: 90%;
    }

    @include media-query(sm) {
      width: 95%;
    }

    .closeIcon {
      @media (max-width: 1670px) {
        position: absolute;
        top: 30px;
        right: 60px;
      }

      @include media-query(lg) {
        top: 40px;
        right: 50px;
      }

      @media (max-width: 1250px) {
        right: 30px;
      }

      @include media-query(md) {
        top: 30px;
      }

      @media (max-width: 410px) {
        top: 20px;
        right: 5px;
      }

      @include media-query(sm) {
        top: 20px;
        right: 6px;
      }
    }
  }

  .modalContentHouse {
    padding: 30px 60px 60px 60px;

    @include media-query(lg) {
      padding: 30px 40px 50px;
    }

    @media (max-width: 1250px) {
      padding: 40px 30px;
    }

    @include media-query(md) {
      padding: 30px 30px;
    }

    @media (max-width: 410px) {
      padding: 20px 6px 30px 8px;
    }
  }

  .modalContentBooking {
    padding: 60px 80px;

    @include media-query(lg) {
      padding: 40px;
    }

    @include media-query(md) {
      padding: 30px 30px 40px 30px;
    }

    &__header {
      width: 100%;
      margin-bottom: 20px;
      @include flex(row, space-between, center, nowrap);

      @include media-query(sm) {
        margin-bottom: 16px;
      }
    }

    &__header-title {
      @include h3();

      @include media-query(lg) {
        font-size: 20px;
        line-height: 24.38px;
      }
    }
  }
}

.modal--entering,
.modal--entered {
  opacity: 1;
}

.modal--entering .modal-content,
.modal--entered .modal-content {
  transform: translateY(0);
}

.modal--exiting,
.modal--exited {
  opacity: 0;
}

.modal--exiting .modal-content,
.modal--exited .modal-content {
  transform: translateY(-100px);
}
