@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.personalInfo {
  margin-bottom: 20px;

  &__title {
    @extend %titleBookingBlock;
  }

  &__block {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  .item input {
    width: 100%;

    &:focus {
      outline-color: $primary;
      box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
      color: $text-primary;
    }

    &:not(:placeholder-shown) {
      border-color: $primary;
      box-shadow: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
      color: $text-primary;
    }
  }

  .item .titleItem {
    margin-bottom: 10px;
    @include typography(400, 16px, 19.5px, $text-secondary);
  }

  // .item:nth-child(5),
  // .item:nth-child(6) {
  //   grid-column: span 1;
  // }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
