@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';

.filteredBlockWrapper {
  width: 100%;
  position: relative;
  min-height: 206px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  .filteredBlockContainer {
    height: 100%;
    position: absolute;
    top: -50%;
    background-color: $secondary;
    padding: 60px 114px;
    border-radius: $radius-primary;
    height: auto;

    @media (max-width: 1000px) {
      top: 0%;
    }

    @media (max-width: 1600px) {
      padding: 40px;
    }

    @include media-query(md) {
      padding: 30px 24px;
    }

    @include media-query(sm) {
      padding: 20px 8px;
    }

    .titleBlock {
      margin-bottom: 20px;
      @include typography(600, 20px, 24.38px, $text-primary);

      @include media-query(lg) {
        margin-bottom: 22px;
      }

      @include media-query(md) {
        margin-bottom: 19px;
        font-size: 18px;
        line-height: 22px;
      }

      @include media-query(sm) {
        margin-bottom: 16px;
        @include typography(500, 16px, 19.5px, $text-primary);
      }
    }

    .filteredBlock {
      width: 100%;
      @include flex(row, space-between, flex-end, nowrap);
      gap: 20px;

      @media (max-width: 1251px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }

      @include media-query(md) {
        gap: 18px;
      }

      @media (max-width: 571px) {
        grid-template-columns: 1fr;
      }

      @include media-query(sm) {
        gap: 16px;
      }

      .titleItemBlock {
        width: 100%;

        .titleItem {
          margin-bottom: 10px;
          @include typography(400, 16px, 19.5px, $text-secondary);

          @include media-query(sm) {
            font-size: 14px;
          }
        }
      }

      .btnBlock {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 571px) {
          margin-top: 29.5px;
        }

        @include media-query(sm) {
          margin-top: 22px;
        }

        .btnSearch {
          background-color: $color-8;
          height: 68px;

          @include media-query(md) {
            height: 54px;
          }

          @include media-query(sm) {
            height: 40px;
          }
        }
        .disabled {
          background-color: red;
        }

        .btnSearch:hover {
          background-color: $primary;
          transition: all 0.5s ease 0s;
        }
      }
    }
  }
  .error {
    @extend %error;
    z-index: 1;
    position: absolute;
    right: 110px;
    margin-top: 20px;
  }
}
