@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.infoObject {
  width: 100%;
  margin-bottom: 40px;
  @include media-query(md) {
    margin-bottom: 32px;
  }

  &__title {
    @extend %titleBookingBlock;
  }

  &__block {
    @include flex(column, flex-start, flex-start, nowrap);
    gap: 20px;

    @include media-query(md) {
      gap: 16px;
    }

    &-upItem {
      width: 100%;
      @include flex(row, space-between, flex-start, wrap);
      gap: 20px;

      @media (max-width: 1290px) {
        justify-content: flex-start;
      }

      @media (max-width: 950px) {
        justify-content: space-between;
      }
    }

    &-object input {
      width: 288px;
      // width: 100%;

      @include media-query(lg) {
        width: 267px;
      }

      @media (max-width: 680px) {
        width: 100%;
      }
    }

    &-object input,
    &-date--checkIn input,
    &-date--checkOut input,
    &-guests input {
      // @include typography(500, 14px, 17.07px, $text-secondary);
      // height: 67px;
      // border: 1px solid $text-secondary;
      // border-radius: 6px;

      &:focus {
        outline: none;
      }
    }

    &-date--checkIn,
    &-date--checkOut,
    &-guests {
      position: relative;
      @media (max-width: 680px) {
        max-width: 552px;
        width: 100%;
      }
    }

    &-date--checkIn input,
    &-date--checkOut input,
    &-guests input {
      width: 288px;

      @include media-query(lg) {
        width: 267px;
      }

      @media (max-width: 680px) {
        width: 100%;
      }
    }

    &-date--image,
    &-guests--image {
      position: absolute;
      top: 58%;
      right: 26px;
    }

    &-time--checkIn,
    &-time--checkOut {
      width: 130px;

      @media (max-width: 680px) {
        // max-width: 552px;
        width: 100%;
      }
    }

    // &-time--checkOut {
    //   width: 130px;
    // }

    &-time--checkOut input {
      width: 130px;
      @include typography(500, 14px, 17.07px, $text-secondary);
      height: 67px;
      border: 1px solid $text-secondary;
      border-radius: 6px;

      @media (max-width: 680px) {
        width: 100%;
      }

      @media (max-width: 400px) {
        height: 40px;
      }

      &:focus {
        outline: none;
      }
    }

    &-mediumItem {
      @include flex(row, flex-start, flex-start, wrap);
      gap: 20px;

      @media (max-width: 680px) {
        width: 100%;
      }
    }
    &-animals {
      min-height: 96.5px;
      width: 288px;
      position: relative;

      @include media-query(lg) {
        width: 267px;
      }

      @media (max-width: 680px) {
        min-height: 73.1px;
        width: 100%;
      }

      &--checkbox {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 23.5px;
        cursor: pointer;
      }

      &--checkboxChecked {
        cursor: pointer;
      }

      &--text {
        @include typography(400, 16px, 19.5px, $text-secondary);
        position: absolute;
        left: 30px;
        bottom: 23.5px;
      }

      &--checked {
        position: relative;
      }

      &--checked > * input {
        outline: none;
        height: 67px;
        border-radius: 6px;
        width: 288px;
        border: 1px solid $text-secondary;
        @include typography(500, 14px, 17.07px, $text-secondary);

        @include media-query(lg) {
          width: 267px;
        }

        @media (max-width: 680px) {
          width: 100%;
        }

        @media (max-width: 400px) {
          height: 40px;
        }
      }

      &--checked input::placeholder {
        @include typography(500, 14px, 17.07px, $text-secondary);
      }

      &--checked input:focus {
        @extend %focusInput;
      }

      &--checkedSelect > * input {
        border-color: $primary;
        box-shadow: $shadow-1;
        color: $text-primary;
      }

      &--checkboxChecked {
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 196px;
        z-index: 1;

        &::before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: $color-8;
          border: 1px solid $color-6;
          border-radius: 6px;
        }

        &::after {
          content: url('../../../assets/icons/vector.svg');
          position: absolute;
          top: 25%;
          left: 45%;
        }
      }
    }

    &-price {
      @include flex(row, flex-start, center, nowrap);
      gap: 15px;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
      }

      &--text {
        @include typography(400, 16px, 19.5px, $text-secondary);
      }

      &--number {
        @include flex(row, flex-start, center, nowrap);
        gap: 10px;
      }

      &--input {
        // width: auto;
        // min-width: 58px;
        max-width: 150px;
        box-sizing: content-box;
        height: 37px;
        border-radius: 4px;
        border: 0.25px solid $color-6;
        outline: none;
        text-align: center;
        @include typography(500, 14px, 17.07px, $text-secondary);
      }

      &--currency {
        @include typography(500, 16px, 19.5px, $text-secondary);
      }
    }
  }
}
