@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins.scss";

.card {
    width: 100%;
    height: 686px;
    border-radius: $radius-primary;
    border: $border-primary;
    background-color: $secondary;
    padding: 60px 114px 70px 80px;
    @include flex(column, flex-start, flex-start, no-wrap);
    gap: 30px;

    .cardTitle {
        @include h2;
    }

    .houseBlock {
        width: 100%;
        height: 480px;
        @include flex(row, space-between, flex-start, nowrap);
        gap: 60px;

        .houseBlock-left {
            width: 100%;
            max-width: 560px;
            background-color: aqua;
            height: 100%;
        }

        .houseBlock-right {
            width: 100%;
            background-color: aquamarine;
            height: 100%;
            padding-bottom: 15px;
             @include flex(column, space-between, flex-start, nowrap);

            .description {
                @include typography(400, 20px, 25px, $text-primary);
            }

            .places {
                width: 100%;
                @include flex(row, space-between, flex-start, nowrap);

                .rooms {
                    @include flex(row, space-between, flex-start, nowrap);

                }

                .beds {
                    @include flex(row, space-between, flex-start, nowrap);

                }

                .rooms p:first-child, .beds p:first-child {
                    @include typography(700, 18px, 25px, $text-primary);
                }

                .rooms > p, .beds > p  {
                    @include typography(400, 18px, 24px, $text-primary);
                }
            }

            .featuresBlock {

                .featuresTitle {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-bottom: 20px;
                }

                .features {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .featuresBlock {
                    @include flex(row, flex-start, center, nowrap);

                    img {
                        margin-right: 20px;
                    }
                }
            }
            }
            
            .pricesBlock {

                .pricesBlockTitle {
                    @include typography(700, 18px, 25px, $text-primary);
                    margin-bottom: 20px;
                }

                .prices {
                    @include flex(row, flex-start, center, nowrap);

                    span {
                        @include typography(700, 24px, 34px, $text-primary);
                    }
                }

                .prices p:first-child {
                    margin-right: 20px;
                }
            }
            .btnsBlock {
                @include flex(row, flex-start, center, nowrap);

                button {
                    @include typography(500, 16px, 19.36px,  $text-white);
                    padding: 16px 26px;
                }

                .btnBook {
                    background-color: $color-8;
                    margin-right: 20px;
                }

                .btnDetails {
                    color: $text-primary;
                    background-color: $text-white;

                }
            }
        }
    }
}