@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import "./common/styles/sass/variables.scss";

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $text-primary
}