$primary: #1855B7;
$secondary: #F6FAFF;
$color-6: #8692A6;

$text-primary: #0F2664;
$text-white: #ffffff;
$text-secondary: #696F79;

$background: #D9D9D9;

$border-primary: 1px solid #0A3A86;
$border-secondary: 1px solid #1855B7;

$shadow-1: 0px 4px 7px 3px rgba(24, 85, 183, 0.11);
$shadow-2: 0px 4px 7px 0px rgba(0, 0, 0, 0.08);

$radius-primary: 16px;
$radius-secondary: 6px;



